
@model Sampe.Cor
@{
	ViewBag.Title = "Deletar Cor";
}
<div class="container ">
	<div class="col-xs-10 col-sm-10 col-md-6">
		<ol class="breadcrumb">
			<li><a href="/Home/Index">Home</a></li>
			<li><a href="/Home/Cadastros">Cadastros</a></li>
			<li><a href="/Cores/Index">Cores</a></li>
			<li class="active">Deletar</li>
		</ol>
		<br />
		<h2>Deletar Cor</h2>
		<h6>Tem certeza que deseja excluir?</h6>
		<div class="row">
			<hr />
			<dl class="dl-horizontal">
				<dt>
					Cor
				</dt>
				<dd>
					@Html.DisplayFor(model => model.NomeCor)
				</dd>
			</dl>
			<p style="color:red;">@ViewBag.Error</p>
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()

				<div class="form-actions no-color">
					<input type="submit" value="Deletar" class="btn btn-default" />
					<a class="btn btn-default" href="/Cores/Index">Voltar</a>
				</div>
			}
		</div>
	</div>
</div>
